<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./dist/bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|Rochester" rel="stylesheet">
    <style>
        body {
            font-family: 'Merienda One', cursive;
            /* font-family: 'Rochester', cursive; */
        }
    </style>
</head>

<body>
    <div id="game">
        <div v-if="firstStart == 1" class="splash">
            <p>Loading...</p>
        </div>

        <div class="header">
            <div v-on:click="changeState()" class="change"></div>
            <div class="gold">{{char.gold}}</div>
            <div class="xp">{{char.experience}}</div>
        </div>

        <div v-on:click="changeState('city')" v-if="ui.state == 'orc'" class="city-btn">
        </div>

        <div v-if="ui.state == 'orc'" class="char">
        </div>

        <div v-if="ui.state == 'prop'" class="prop">
            <p>Life: <span>{{char.life}}</span></p>
            <p>Damage: <span>{{char.damage}}</span></p>
            <p>Speed: <span>{{char.speed}}</span></p>
            <p>Agility: <span>{{char.agility}}</span></p>
            <p>Experience: <span>{{char.experience}}</span></p>
            <p>Gold: <span>{{char.gold}}</span></p>
        </div>
        <div v-if="ui.state == 'inventory'" class="prop">
            <div class='item' v-for="s in char.inventory" v-on:click="del(s.id)" v-bind:class="s.image">
                {{s.name}}
            </div>
        </div>

        <div v-if="ui.state == 'shop'" class="prop">
            <div v-on:click="buy(s.id)" class='item' v-for="s in shop" v-bind:class="s.image">
                {{s.name}}
            </div>
        </div>

        <div v-if="ui.state == 'battle'" class="battle-arena">
            <div class="battlebutton" v-on:click="battle()"></div>
            <select class="userselector" v-model="userSelected">
                <option v-for="u in users" v-bind:value="u.id">{{u.name}}</option>
            </select>
        </div>

        <div v-if="ui.state == 'battle-message'" class="battle-arena battle-status">
            <h2 v-if="status == '1'">VICTORY</h2>
            <h2 v-if="status != '1'">DEFEAT</h2>
            <div class="message">
                <p>{{message}}</p>
            </div>
            <div class="button" v-on:click="changeState('orc')">Ok</div>
        </div>
        

        <div v-if="ui.state == 'city'" class="city">
            <div class="inventory" v-on:click="changeState('inventory')">Inventory</div>
            <div class="battle" v-on:click="changeState('battle')">Battle</div>
            <div class="shop" v-on:click="changeState('shop')">Shop</div>
        </div>

    </div>
</body>

</html>