@import 'reset';
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #010201;
    background-image: url('../images/background.jpg');
    background-repeat:  no-repeat;
    background-size: 100%;
}

.splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-image: url('../images/splash.png');
    background-repeat: no-repeat;
    background-position: center 20vh; 
    background-size: 90%;
    z-index: 9999;
    p {
        width: 100%;
        font-size: 40px;
        text-align: center;
        position: absolute;
        bottom: 20vh;
    }
}

.item {
    float: left;
    background-image: url('../images/box.png');
    background-repeat: no-repeat;
    background-size: 18vw 18vw;
    margin-right: 3vw;
    margin-bottom: 10vw;
    width: 18vw;
    height: 26vw;
    font-size: 16px;
    color: #fff8a3;
    line-height: 43vw;
    text-align: center;

    &.w1 {
        background-image: url('../images/w1.png');
    }

    &.w2 {
        background-image: url('../images/w2.png');
    }

    &.w3 {
        background-image: url('../images/w3.png');
    }

    &.w4 {
        background-image: url('../images/w4.png');
    }

    &.w5 {
        background-image: url('../images/w5.png');
    }

    &.w6 {
        background-image: url('../images/w6.png');
    }

}

.prop {
    padding: 15vw;
    background-image: url('../images/box.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 95vw;
    height: 95vw;
    margin: 15vh 2vw;
    p {
        color: #fff8a3;
        width: 100%;
        font-size: 23px;
        margin-top: 17px;
        span {
            float: right;
        }
    }
}

.battle-arena {
    width: 100vw;
    height: 90vh;
    margin: 10vh 0 0 0;
    background-image: url('../images/battlearena.png');
    background-size: cover;
    background-repeat: no-repeat;

    .battlebutton {
        position: absolute;
        width: 54vw;
        height: 54vw;
        background-image: url('../images/battleico.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        top: 55vh;
        left: 24vw;
    }

    .userselector {
        position: absolute;
        width: 54vw;
        height: 8vw;
        background: #fff8a3;
        background-size: 100%;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        top: 86vh;
        left: 24vw
    }
}

.battle-status {
    h2 {
        width: 100%;
        color: #fff8a3;
        text-align: center;
        font-size: 35px;
        padding: 25px;
    }
    .message {
        width: 100%;
        height: 50vh;
        overflow: scroll;
        //background: rgba(0,0,0,0.5);
        p {
            color: #fff;
            font-size: 31px;
            padding: 20px;
        }
    }

    .button {
        width: 80%;
        background: #fff8a3;
        color: #000;
        height: 64px;
        margin: 20px auto;
        text-align: center;
        font-size: 40px;
        border-radius: 20px;
        line-height: 62px;
        box-shadow: 4px 8px rgba(0,0,0,0.3);
        position: absolute;
        bottom: 0;
        left: 10%;
    }
}

.city {
    width: 100vw;
    height: 90vh;
    margin: 10vh 0 0 0;
    background-image: url('../images/citywal.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    .battle {
        width: 54vw;
        height: 54vw;
        background-image: url('../images/battle.png');
        background-size: 100%;
        background-repeat: no-repeat;
        color: #fff8a3;
        text-align: center;
        line-height: 84vw;
        margin-left: 25vw;

        
    }

    .shop {
        width: 54vw;
        height: 54vw;
        background-image: url('../images/shop.png');
        background-size: 100%;
        background-repeat: no-repeat;
        color: #fff8a3;
        text-align: center;
        line-height: 84vw;
        margin-left: 45vw;

    }

    .inventory {
        width: 54vw;
        height: 54vw;
        color: #fff8a3;
        background-image: url('../images/inventory.png');
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 113vw;
    }

}

.city-btn {
    width: 30vw;
    height: 30vw;
    background-image: url('../images/city.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 43vh;
    left: 61vw;
}

.char {
    width: 90vw;
    height: 40vh;
    margin: 55vh 5vw 0 5vw;
    background-image: url('../images/char1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 6px top;

    
}

.header {
    padding: 10px;
    width: 100%;
    padding: 10px;
    width: 100%;
    float: left;
    position: absolute;
    top: 0;

    .change {
        float: left;
        width: 69px;
        height: 69px;
        background-size: 60px;
        background-image: url('../images/view.png');
        background-repeat: no-repeat;
    }

    .gold {
        margin-top: 13px;
        float: right;
        width: auto;
        height: 35px;
        padding-left: 37px;
        background-size: 35px;
        background-image: url('../images/gold.png');
        background-repeat: no-repeat;
        font-size: 25px;
        line-height: 36px;
        color: #fff8a3
    }

    .xp {
        margin-top: 13px;
        margin-right: 10px;
        float: right;
        width: auto;
        height: 35px;
        padding-left: 37px;
        background-size: 35px;
        background-image: url('../images/xp.png');
        background-repeat: no-repeat;
        font-size: 25px;
        line-height: 36px;
        color: #fff8a3;
        text-shadow: #010201 1px 1px;
    }
}
